/* Подключение шрифтов */
@font-face {
  font-family: 'Gilroy-Bold';
  src: url(../font/Gilroy-Bold.woff2);
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url(../font/Gilroy-Medium.woff2);
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url(../font/Gilroy-Semibold.woff2);
}

/* Сброс стилей и общие стили */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #FFF;
}

img {
  display: block;
  max-width: 100%;
}

/* Заголовки */
h1 {
  color: #000;
  font-size: 60px;
  max-width: 525px;
  font-family: Gilroy-Bold;
}

h2 {
  color: #888;
  font-size: 20px;
  max-width: 470px;
  font-family: Gilroy-Medium;
  margin-top: 20px;
}

/* Кнопки */
button, .no_active_button {
  width: 140px;
  font-size: 15px;
  color: #FFF;
  height: 50px;
  border-radius: 50px;
  background: #F25822;
  border: none;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.no_active_button:hover {
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.no_active_button:not(:hover) {
  background: #FFF;
  box-shadow: none;
  color: #AAA;
}

/* Контейнеры */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* Навигация */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  margin-top: 40px;
}

.header_nav {
  width: 530px;
  height: 18px;
  display: flex;
}

.navigation_item {
  font-family: 'Gilroy-Semibold';
  color: #000;
}

.navigation_item_home {
  color: #F25822;
}

/* Главное содержание */
main {
  margin-top: 85px;
}

.content_main {
  display: flex;
}

.content_main_btn {
  margin-top: 40px;
}

.content_main_btn button {
  margin-right: 20px; /* Уменьшил отступ между кнопками */
}

.content_main_phone img {
  width: 545px;
  height: 375px;
  margin-left: 40px;
}

/* Футер */
footer {
  margin-top: 160px;
}

.footer_logo {
  display: flex;
  justify-content: space-between;
}
